
/* Custom styles */

@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

body {
	background-color: gray;
}

.centered {
	text-align:center;
}

.dark {
	background-color:black;
}

.grow { 
	transition: all 1s ease-in-out; 
}

.grow:hover { 
	transform: scale(1.1); 
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0;
}

ul.icons li {
	display: inline-block;
	padding: 0 2em 0 0;
}

ul.icons li:last-child {
	padding-right: 0;
}

.icons {
	margin: 1em 0 0 0;
}

.icon {
	color: rgba(255, 255, 255, 0.4);
}

.icon:hover {
	color: black;
}